{% set message = messages.globalMessages.messageHandle(handle).first() %}

<div class="message">
	
	<h2>{{ message.messageTitle }}</h2>
	
	{{ message.messageDescription }}
	
	{% if time is defined and time == true %}
		<code>Last Updated - {{ now|date_modify("-5 minutes")|date("l j F Y - H:i:s") }}</code>
	{% endif %}
	
</div>