ENVIRONMENT="dev"
SECURITY_KEY=""
APP_ID=""

DB_DRIVER="mysql"
DB_SERVER="127.0.0.1"
DB_PORT="3306"
DB_DATABASE=""
DB_USER=""
DB_PASSWORD=""
DB_SCHEMA=""
DB_TABLE_PREFIX=""

SITE_NAME="Website"
SITE_EMAIL="development@madebyshape.co.uk"

SITE_URL="http://website.local/"
SITE_PATH="/path/to/root/"

PUBLIC_FOLDER="public"
UPLOADS_FOLDER="uploads"
TRANSFORMS_FOLDER="transforms"

CP_TRIGGER="admin"

SMTP_HOSTNAME="smtp.eu.mailgun.org"
SMTP_PORT="587"
SMTP_USERNAME="username"
SMTP_PASSWORD="password"

ASSETS_URL="${SITE_URL}${UPLOADS_FOLDER}"
ASSETS_PATH="${SITE_PATH}${PUBLIC_FOLDER}/${UPLOADS_FOLDER}"

# SERVD_PROJECT_SLUG=""
# SERVD_SECURITY_KEY=""
# SERVD_ASSETS_ENVIRONMENT="production"