# Gulp / Packages

node_modules

# Sass

*.sassc
.sass-cache/*
.sass-cache
*.css.map

# Javascript

*.js.map

# OS Files

.DS_Store
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Craft CMS

cpresources
vendor
.env
.env.sh
*.log
storage/*
license.key

# Backups

backups

# Caching

web/cache
public/cache
public_html/cache
cache/*

# Asset Source Folders

web/uploads
public/uploads
public_html/uploads
httpdocs/uploads

# Log files

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
