.link {
    @apply
        relative
        inline-block;
    &:before,
    &:after {
        content: '';
        @apply
            transition-width
            absolute
            bottom-0
            left-auto
            right-0
            block
            h-px
            w-0
            bg-current
            pointer-events-none;
    }
    &:after {
        @apply hidden;
     }
    &:hover,
    &:active,
    &--active {
        &:before {
            @apply
               w-full
               left-0
               right-auto;
         }
    }
    &--visible {
        &:after {
           @apply
                block
                w-full
                left-0
                right-auto;
        }
        &:before {
           @apply delay-200;
        }
        &:hover {
        &:after {
              @apply
                w-0
                right-0
                left-auto;
        }
        &:before {
              @apply
                 w-full
                 left-0
                 right-auto;
           }
        }
     }
}
