{% extends "_layout/global" %}

{% block content %}

	{% embed '_components/section' %}
		{% block sectionContent %}

			<h1 class="text-3xl font-semibold mb-3">{{ exception.heading }}</h1>

			<div class="mb-6">
				{{ exception.message|raw }}
			</div>

			<div class="py-2 px-3 bg-gray-300 text-sm font-mono-primary rounded-m inline-block">
				<em>{{ exception.errorCode }}</em>
			</div>

		{% endblock %}
	{% endembed %}

{% endblock %}
