@import "tailwindcss";

@source '../../templates/**/*.twig';
@source '../../templates/**/*.html';
@source '../../templates/**/*.css';

@theme {
  
  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;

  --color-brands-facebook: #1877f2;
  --color-brands-twitter: #1da1f2;
  --color-brands-x: #14171a;
  --color-brands-instagram: #405de6;
  --color-brands-linkedin: #0a66c2;
  --color-brands-youtube: #ff0000;
  --color-brands-vimeo: #1ab7ea;
  --color-brands-pinterest: #e60023;
  --color-brands-tiktok: #ff0050;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.063rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  --font-sans-primary:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif-primary:
    ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

}