{#
   Component
   Description of the component in a few words, ending with a dot.

   @type {include/embed/macro}
   @param {string/bool/object/array/int} name
   @block {string/bool/object/array/int} name
#}

<div x-data="component()">
</div>

{% js %}
   function component() {
      return {
         variable: false,
         exampleFunction() { this.variable = true }
      }
   }
{% endjs %}