{% if site.cookieConsent|length %}
   <div 
      x-data="cookieConsent()" 
      x-init="show()"
      x-show.transition.opacity.duration.450ms="visible"
      x-cloak
      class="fixed bottom-0 left-0 w-screen flex justify-center z-50" 
   >
      <div class="flex items-center px-3 py-1 mb-4 bg-gray-100 rounded">
         <span class="text-base">{{ site.cookieConsent }}</span>
         <a href="#" class="ml-2 text-lg font-bold text-primary-500 | hover:text-primary-600" x-on:click.prevent="hide()">
            &times;
         </a>
      </div>
   </div>

   {% js %}
      function cookieConsent() {
         return {
            visible: true,
            show() {
               this.visible = Cookies.get('cookieConsent') ? false : true;
            },
            hide() {
               this.visible = false; 
               Cookies.set('cookieConsent', 'false', { expires: 6 });
            }
         }
      }
   {% endjs %}
{% endif %}
