{% if site.siteCookieConsent|length %}

   <div 
      x-data="cookieConsent" 
      x-show="visible"
      x-transition.opacity.duration.300ms
      x-cloak
      class="fixed bottom-0 left-0 w-screen flex justify-center z-50" 
   >
      <div class="flex items-center px-3 py-1 mb-4 bg-gray-100 rounded">
         <span class="text-base">
            {% include '_components/redactor' with { content: site.siteCookieConsent } %}
         </span>
         <a href="#" class="ml-2 text-lg font-bold text-primary-500 | hover:text-primary-600" x-on:click.prevent="hide()">
            &times;
         </a>
      </div>
   </div>

   {% js %}

      document.addEventListener('alpine:init', () => {
         Alpine.data('cookieConsent', () => ({
            visible: true,
            init() {
               this.visible = Cookies.get('cookieConsent') ? false : true;
            },
            hide() {
               this.visible = false; 
               Cookies.set('cookieConsent', 'false', { expires: 3 });
            }
         }))
      });
      
   {% endjs %}

{% endif %}
