{#
   Section
   Outputs section layout with correct padding and container.

   @type {embed}
   @param {string} padding
   @param {string} class
   @param {bool} container

#}

{% set padding = padding ?? 'topBottom' %}
{% set paddingSize = paddingSize ?? 'base' %}

{% set paddingClass = {
    small: {
        top: 'pt-20',
        bottom: 'pb-20',
        topBottom: 'py-20',
        none: 'py-0'
    },
    base: {
        top: 'pt-24',
        bottom: 'pb-24',
        topBottom: 'py-24',
        none: 'py-0'
    },
    large: {
        top: 'pt-32',
        bottom: 'pb-32',
        topBottom: 'py-32',
        none: 'py-0'
    }
} %}

<div class="w-full {{ class is defined ? class }} {{ attribute(attribute(paddingClass, paddingSize), padding) }}">

    {% if container is not defined %}
        <div class="container">
    {% endif %}

    {% block sectionContent %}
    {% endblock %}

    {% if container is not defined %}
        </div>
    {% endif %}

</div>
