{#
   Section
   Outputs section layout with correct padding and container.

   @type {embed}
   @param {string} paddingX
   @param {string} paddingY
   @param {string} paddingYSize
   @param {string} class

#}

{% set paddingX = paddingX ?? 'leftRight' %}
{% set paddingY = paddingY ?? 'topBottom' %}

{% set paddingYSize = paddingYSize ?? 'base' %}

{% set paddingXClass = {
    leftRight: 'px-10',
    left: 'pl-10',
    right: 'pr-10',
    none: 'px-0'
} %}

{% set paddingYClass = {
    small: {
        top: 'pt-16',
        bottom: 'pb-16',
        topBottom: 'py-16',
        none: 'py-0'
    },
    base: {
        top: 'pt-32',
        bottom: 'pb-32',
        topBottom: 'py-32',
        none: 'py-0'
    }
} %}

<div class="w-full {{ attribute(attribute(paddingYClass, paddingYSize), paddingY) }}{{ class is defined ? ' ' ~ class }}">

    <div class="{{ attribute(paddingXClass, paddingX) }}">

        {% block sectionContent %}
        {% endblock %}

    </div>

</div>
