{% extends "_layout/exception" %}

{% set exception = {
   heading: "Page Not Found",
   message: "<p>The page or file you requested can't be found.</p>",
   errorCode: "Error: 404 - Page Not Found"
} %}
