{% extends "_layout/global" %}

{# ------- Variables ------- #}

{% set template = {
   section: '',
   folder: ''
} %}

{# ------- Template ------- #}

{% block content %}
   {% cache %}

      <h1>Page Not Found</h1>

      <p>The page or file you requested is no longer available.</p>

      <em>Error: 410 - Page Not Found</em>

   {% endcache %}
{% endblock %}

{# ------- Inline ------- #}

{% block inlineCss %}
{% endblock %}

{% block inlineJs %}
{% endblock %}
