{% extends "_layout/exception" %}

{% set exception = {
   heading: "Maintenance",
   message: "
      <p>Sorry, but we are temporarily unavailable whilst we perform scheduled maintenance.</p>
      <p>We don't expect this to last long so please try again shortly.</p>
      <p>We're sorry for any inconvenience.</p>
   ",
   errorCode: "Error: 503 Service Unavailable"
} %}
