// Font Face
// @include font-face('family', 'filename', 500, 'normal');

// Body

html {
   @apply text-base;
   scroll-behavior: smooth;
}

body {
  @apply
     font-sans-primary
     text-gray-800
     text-optimize-legibility
     antialiased;
}

// Links

a {
   @apply transition-all;
}

// Typography

p {
   @apply mb-6;
   &:last-of-type {
      @apply mb-0;
   }
   &:empty {
      @apply hidden;
   }
}

// Selection

::selection {
   @apply
      text-primary-500
      bg-primary-100;
}

// FOUT fix

.wf-loading {
   @apply invisible;
}

.wf-active,
.wf-inactive {
   @apply visible;
}
