# ----------------------------------------------------------------------
# Proper MIME type for all files
# ----------------------------------------------------------------------

	# Javascript
		AddType application/javascript					js jsonp
		AddType application/json               			json

	# Audio
		AddType audio/ogg                      			oga ogg
		AddType audio/mp4                      			m4a f4a f4b

	# Video
		AddType video/ogg                      			ogv
		AddType video/mp4                      			mp4 m4v f4v f4p
		AddType video/webm                     			webm
		AddType video/x-flv                    			flv

	# SVG
		AddType     image/svg+xml              			svg svgz
		AddEncoding gzip                       			svgz

	# Webfonts
		AddType application/vnd.ms-fontobject  			eot
		AddType application/x-font-ttf         			ttf ttc
		AddType font/opentype                  			otf
		AddType application/x-font-woff        			woff

	# Assorted types
		AddType image/x-icon                        	ico
		AddType image/webp                          	webp
		AddType text/cache-manifest                 	appcache manifest
		AddType text/x-component                    	htc
		AddType application/xml                     	rss atom xml rdf
		AddType application/x-chrome-extension      	crx
		AddType application/x-opera-extension       	oex
		AddType application/x-xpinstall             	xpi
		AddType application/octet-stream            	safariextz
		AddType application/x-web-app-manifest+json 	webapp
		AddType text/x-vcard                        	vcf
		AddType application/x-shockwave-flash       	swf

# ----------------------------------------------------------------------
# Gzip Compression
# ----------------------------------------------------------------------

	<IfModule mod_deflate.c>
	
		<IfModule mod_setenvif.c>
			<IfModule mod_headers.c>
				SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
				RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
			</IfModule>
		</IfModule>
	    
	    <IfModule mod_filter.c>
	        AddOutputFilterByType DEFLATE "application/atom+xml" \
	                                      "application/javascript" \
	                                      "application/json" \
	                                      "application/ld+json" \
	                                      "application/manifest+json" \
	                                      "application/rdf+xml" \
	                                      "application/rss+xml" \
	                                      "application/schema+json" \
	                                      "application/vnd.geo+json" \
	                                      "application/vnd.ms-fontobject" \
	                                      "application/x-font-ttf" \
	                                      "application/x-javascript" \
	                                      "application/x-web-app-manifest+json" \
	                                      "application/xhtml+xml" \
	                                      "application/xml" \
	                                      "font/collection" \
	                                      "font/eot" \
	                                      "font/opentype" \
	                                      "font/otf" \
	                                      "font/ttf" \
	                                      "image/bmp" \
	                                      "image/svg+xml" \
	                                      "image/vnd.microsoft.icon" \
	                                      "image/x-icon" \
	                                      "text/cache-manifest" \
	                                      "text/calendar" \
	                                      "text/css" \
	                                      "text/html" \
	                                      "text/javascript" \
	                                      "text/plain" \
	                                      "text/markdown" \
	                                      "text/vcard" \
	                                      "text/vnd.rim.location.xloc" \
	                                      "text/vtt" \
	                                      "text/x-component" \
	                                      "text/x-cross-domain-policy" \
	                                      "text/xml"
	
	    </IfModule>
	
		<IfModule mod_mime.c>
			AddEncoding gzip              svgz
		</IfModule>
	
	</IfModule>

# ----------------------------------------------------------------------
# Expires Headers (Cache Control)
# ----------------------------------------------------------------------

	<IfModule mod_expires.c>
	
		ExpiresActive on
		
		ExpiresDefault                          			"access plus 1 month"
		ExpiresByType text/cache-manifest       			"access plus 0 seconds"
	
		# HTML
			ExpiresByType text/html                 		"access plus 0 seconds"
	
		# Data
			ExpiresByType text/xml                  		"access plus 0 seconds"
			ExpiresByType application/xml           		"access plus 0 seconds"
			ExpiresByType application/json          		"access plus 0 seconds"
	
		# Feed
			ExpiresByType application/rss+xml       		"access plus 1 hour"
			ExpiresByType application/atom+xml      		"access plus 1 hour"
	
		# Favicon
			ExpiresByType image/x-icon              		"access plus 1 week"
	
		# Media
			ExpiresByType image/gif                 		"access plus 1 month"
			ExpiresByType image/png                 		"access plus 1 month"
			ExpiresByType image/jpeg                		"access plus 1 month"
			ExpiresByType video/ogg                 		"access plus 1 month"
			ExpiresByType audio/ogg                 		"access plus 1 month"
			ExpiresByType video/mp4                 		"access plus 1 month"
			ExpiresByType video/webm                		"access plus 1 month"
	
		# HTC files
			ExpiresByType text/x-component          		"access plus 1 month"
	
		# Webfonts
			ExpiresByType application/x-font-ttf    		"access plus 1 month"
			ExpiresByType font/opentype             		"access plus 1 month"
			ExpiresByType application/x-font-woff   		"access plus 1 month"
			ExpiresByType image/svg+xml             		"access plus 1 month"
			ExpiresByType application/vnd.ms-fontobject 	"access plus 1 month"
	
		# CSS and JavaScript
			ExpiresByType text/css                  		"access plus 1 year"
			ExpiresByType application/javascript    		"access plus 1 year"
	
	</IfModule>

# ----------------------------------------------------------------------
# Start Rewrite Engine
# ----------------------------------------------------------------------

	 <IfModule mod_rewrite.c>
		Options +FollowSymlinks
		RewriteEngine On
		RewriteBase /
	 </IfModule>

# ----------------------------------------------------------------------
# HTTPS & Remove www.
# ----------------------------------------------------------------------

   # Remove this block if HTTPS is required and use block below
   RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
   RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
		
   # RewriteEngine on
   # RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
   # RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
   # RewriteCond %{HTTPS} !on
   # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# ------------------------------------------------------------
# Remove Trailing Slash
# ------------------------------------------------------------

	 RewriteCond %{REQUEST_METHOD} !=POST
	 RewriteCond %{REQUEST_FILENAME} !-f
	 RewriteCond %{REQUEST_FILENAME} !-d
	 RewriteRule ^(.+)/$ /$1 [R=301,L]

# ----------------------------------------------------------------------
# Prevent 404 errors for non-existing redirected folders
# ----------------------------------------------------------------------

	 Options -MultiViews

# ----------------------------------------------------------------------
# UTF-8 Encoding
# ----------------------------------------------------------------------

	AddDefaultCharset utf-8
	AddCharset utf-8 .css .js .xml .json .rss .atom

# ----------------------------------------------------------------------
# Security
# ----------------------------------------------------------------------

	# Block access to folders without index
		<IfModule mod_autoindex.c>
			Options -Indexes
		</IfModule>

	# Block access to "hidden" directories or files
		<IfModule mod_rewrite.c>
			RewriteCond %{SCRIPT_FILENAME} -d [OR]
			RewriteCond %{SCRIPT_FILENAME} -f
			RewriteRule "(^|/)\." - [F]
		</IfModule>

	# Block access to backup and source files
		<FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
			Order allow,deny
			Deny from all
			Satisfy All
		</FilesMatch>

	# Cookie security
		<IfModule php5_module>
			php_value session.cookie_httponly true
		</IfModule>

	# Hide .git folders
		<IfModule mod_rewrite.c>
			RewriteRule ^(.*/)*\.git/ / [F,L]
		</IfModule>

# ------------------------------------------------------------
# Redirects
# ------------------------------------------------------------

# ----------------------------------------------------------------------
# Default Craft .htaccess
# ----------------------------------------------------------------------

    <IfModule mod_rewrite.c>
        RewriteEngine On

        # Send would-be 404 requests to Craft
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
        RewriteRule (.+) index.php?p=$1 [QSA,L]
    </IfModule>
